<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.crm1.mapper.SysTreeNodeMapper" >
  <resultMap id="BaseResultMap" type="com.zking.crm1.model.SysTreeNode" >
    <constructor >
      <idArg column="tree_node_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tree_node_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tree_node_type" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="postion" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="parent_node_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

    <resultMap id="list" type="com.zking.crm1.model.SysTreeNode" >
        <id column="tree_node_id" property="treeNodeId" javaType="java.lang.Integer" />
        <result column="tree_node_name" property="treeNodeName" javaType="java.lang.String" />
        <result column="tree_node_type" property="treeNodeType" javaType="java.lang.Long" />
        <result column="postion" property="postion" javaType="java.lang.Long" />
        <result column="parent_node_id" property="parentNodeId" javaType="java.lang.Integer" />
        <result column="url" property="url" javaType="java.lang.String" />
    </resultMap>

  <sql id="Base_Column_List" >
    tree_node_id, tree_node_name, tree_node_type, postion, parent_node_id, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_tree_node
    where tree_node_id = #{treeNodeId,jdbcType=INTEGER}
  </select>

    <select id="listsid" resultMap="list" resultType="com.zking.crm1.model.SysTreeNode"
            parameterType="com.zking.crm1.model.SysTreeNode">
        select * from t_sys_tree_node where parent_node_id=#{parentNodeId,jdbcType=INTEGER}

    </select>
    <select id="listgg" resultMap="list" resultType="com.zking.crm1.model.SysTreeNode"
            parameterType="com.zking.crm1.model.SysTreeNode">
         select * from t_sys_tree_node where tree_node_type=1
        <if test="usrRoleId==2 or usrRoleId==3" >
            and tree_node_name='营销管理' or tree_node_name='客户管理'or tree_node_name='服务管理'
        </if>
        <if test="usrRoleId==4" >
            and tree_node_name='统计管理'
        </if>
        <if test="usrRoleId==1" >
            and tree_node_name='权限管理' or tree_node_name='基础数据'
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_tree_node
    where tree_node_id = #{treeNodeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.crm1.model.SysTreeNode" >
    insert into t_sys_tree_node (tree_node_id, tree_node_name, tree_node_type, 
      postion, parent_node_id, url
      )
    values (#{treeNodeId,jdbcType=INTEGER}, #{treeNodeName,jdbcType=VARCHAR}, #{treeNodeType,jdbcType=BIGINT}, 
      #{postion,jdbcType=BIGINT}, #{parentNodeId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.crm1.model.SysTreeNode" >
    insert into t_sys_tree_node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="treeNodeId != null" >
        tree_node_id,
      </if>
      <if test="treeNodeName != null" >
        tree_node_name,
      </if>
      <if test="treeNodeType != null" >
        tree_node_type,
      </if>
      <if test="postion != null" >
        postion,
      </if>
      <if test="parentNodeId != null" >
        parent_node_id,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="treeNodeId != null" >
        #{treeNodeId,jdbcType=INTEGER},
      </if>
      <if test="treeNodeName != null" >
        #{treeNodeName,jdbcType=VARCHAR},
      </if>
      <if test="treeNodeType != null" >
        #{treeNodeType,jdbcType=BIGINT},
      </if>
      <if test="postion != null" >
        #{postion,jdbcType=BIGINT},
      </if>
      <if test="parentNodeId != null" >
        #{parentNodeId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.crm1.model.SysTreeNode" >
    update t_sys_tree_node
    <set >
      <if test="treeNodeName != null" >
        tree_node_name = #{treeNodeName,jdbcType=VARCHAR},
      </if>
      <if test="treeNodeType != null" >
        tree_node_type = #{treeNodeType,jdbcType=BIGINT},
      </if>
      <if test="postion != null" >
        postion = #{postion,jdbcType=BIGINT},
      </if>
      <if test="parentNodeId != null" >
        parent_node_id = #{parentNodeId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where tree_node_id = #{treeNodeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.crm1.model.SysTreeNode" >
    update t_sys_tree_node
    set tree_node_name = #{treeNodeName,jdbcType=VARCHAR},
      tree_node_type = #{treeNodeType,jdbcType=BIGINT},
      postion = #{postion,jdbcType=BIGINT},
      parent_node_id = #{parentNodeId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR}
    where tree_node_id = #{treeNodeId,jdbcType=INTEGER}
  </update>
</mapper>